<h1>Issues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Closed</th>
      <th>Title</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr data-id="<%= issue.id %>">
          <td class="text-center text-primary"><input class="form-check-input" type="checkbox" id="doneCheck" disabled
              <% if (issue.state === 'closed') { %> checked <% } %> /></td>
          <td class="w-100 <% if (issue.state === 'closed') { %> text-muted <% } %>">
            <%= issue.title %>
          </td>
          <td class="text-nowrap">
            <form method="post" action="./issues/<%= issue.id %>/close">
              <a href="./issues/<%= issue.id %>/update">Update</a>
            </form>
            <a href="./issues/<%= issue.id %>">View</a>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center text-danger">
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <tr>
    <td class="text-center text-primary">
      <input class="form-check-input" type="checkbox" disabled />
    </td>
    <td class="w-100"></td>
    <td class="text-nowrap">
      <a>Close</a>
      <a>View</a>
    </td>
  </tr>
</template>